.titlebar {
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--sidebar-foreground);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
}

.titlebar-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.titlebar-buttons {
    display: flex;
    height: 100%;
    align-items: center;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    -webkit-app-region: no-drag;
}

.titlebar-button:hover {
    background: var(--border);
}

#close:hover {
    background: #e81123;
    color: white;
}

.titlebar-button svg {
    width: 18px;
    height: 18px;
}
