.titlebar {
    height: 100%;
    color: var(--sidebar-foreground);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlebar-menu,
.titlebar-buttons {
    display: flex;
    align-items: center;
    height: 100%;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-app-region: no-drag;
    border: none;
    padding: 0;
}

.titlebar-button:hover {
    background: var(--border);
}

#close:hover {
    background: #e81123;
    color: white;
}

.titlebar-button svg {
    width: 1.2rem;
    height: 1.2rem;
}
